# Node.js files and directories
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js files
.next/
out/

# Production files
build/
dist/

# Local environment variables
.env*.local
.env

# Logs
logs
*.log

# Development files
.vercel

# System files
.DS_Store
*.pem

# Debugging
debug
.nyc_output

# Testing
coverage

# IDE
.vscode
.idea

# Git
.git
.gitignore

# Docker

# README and documentation
README.md
LICENSE
docs/